.img1{
	margin-top:-182px;
	margin-left:281px;	
	width:180px;
	height:0px;
} 

#h1{
	font-size: 38px;
    font-family: Arial ;
    color:  #717171;
    width:300px;
	height:52px;
	background-color:white;
	
	margin-top:60px;
	margin-left:4px;
	padding:13px;	
} 